.form-cidade {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.form-cidade-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-cidade-input label {
  font-weight: bold;
  margin-bottom: 0px;
}

.form-cidade-input input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.buttons-cidade {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.buttons-cidade button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form-estado-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-estado-input label {
  font-weight: bold;
  margin-bottom: 0px;
}

.form-estado-input input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 10%;
}
