.form-cidade {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.form-cidade input {
  width: 100%;
}

.form-cidade label {
  font-weight: bold;
  margin-bottom: 0px;
}

.buttons-cidade {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.buttons-cidade Button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.container-form-cidade hr {
  color: grey;
}
