.filter-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container-filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: end;
  width: fit-content;
  margin: 0 auto;
}

.filter-panel .form-control {
  width: 100px;
  height: auto;
}
