.table-clientes .table-container .table {
  width: 100%;
  border-collapse: collapse;
}

.table-clientes .table-container .table :hover {
  background-color: #e0e0e0;
}

.table-clientes .table-container .table td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: start;
  vertical-align: middle;
  transition: background-color 0.5s ease-in-out;
}

.table-clientes .table-container .table th {
  background-color: #f0f0f0;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
}

.table-clientes .table-container .table .center-column {
  text-align: center;
}

.table-clientes .table-container .table .center-column Button {
  transition: background-color 0.5s ease-in-out;
}

.table-clientes .table-container .table .center-column Button:hover {
  background-color: #f0f0f0;
}

.table-clientes .table-container .table .center-column Button:active {
  transition: background-color 0s ease-in-out;
  border: none;
  color: #808080;
}
