.table {
  margin-top: 20px;
}

.filter-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-panel .form-group {
  flex: 1;
  margin-right: 10px;
}

.filter-panel .form-group:last-child {
  margin-right: 0;
}
